@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----global--------- */

:root {
    --font-spotify: "Montserrat", serif;

    /* mobile */
    --flex-mobile-box: 0 0 auto;
    --width-mobile-box: 9.375rem;
    --height-mobile-box: 85%;
    --border-radius-mobile: 0.25rem;
    --padding-mobile-box: 0.3125rem 0.3125rem 3rem;

    --width-mobile-100: 100%;
    --height-mobile-100: 100%;
    --margin-bottom-mobile-box_img: 0.3125rem;

    --font-weight-mobile-500: 500;
    --font-size-mobile-0-8rem: .8em;

    --height-mobile-260: 16.25rem;
    --padding-mobile-20: 1.25rem 1.25rem 0 1.25rem ;
    --overflow-mobile-hidden: hidden;

    --font-weight-mobile-600: 600;
    --font-size-mobile-1-2rem: 1.2em;
    --padding-bottom-mobile-20: 1.25rem;
    --background-color-mobile: #383535;

    --display-mobile-flex: flex;
    --flex-wrap-mobile-nowrap: nowrap;
    --overflow-x-mobile-auto: auto;
    --scrollbar-width-mobile-none: none;

    --padding-mobile-5px-5px-0: 0.3125rem 0.3125rem 0;

}

html {
    scrollbar-width: none;
    background-color:#121212;
}

body {
    color: #fff;
    width: 100vw;
    height: 100vh;

    font-family: var(--font-spotify);
    background-color:#121212;
}

.hidden { 
    display: none;
}

.curso-auto {
    cursor: auto;
}


/* Ocultar a mensagem por padrão */
.desktop-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;

    display: none;
}

.desktop-warning h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.desktop-warning p {
    font-size: 1.2em;
}

#play {
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .desktop-warning {
        display: flex;
    }

    header {
        display: none;
        
    }

    footer {
        display: none;
    }
}

/* 💻 Telas Maiores (Desktop a partir de 1025px) */
@media (min-width: 1025px) {
    .desktop-warning {
        display: flex;
    }

    header {
        display: none;
        
    }

    footer {
        display: none;
    }
}