.section-1 {
    width: 100%;
    height: 100%;

    .h2 {
        font-weight: var(--font-weight-mobile-600);
        font-size: var(--font-size-mobile-1-2rem);
        padding: 1rem 4rem 0.5rem 1.1rem;

    }

    .first_box {
        display: var(--display-mobile-flex);
        flex-direction: row;
        align-items: center;
        flex-wrap: var(--flex-wrap-mobile-nowrap);
        overflow-x: var(--overflow-x-mobile-auto);
        scrollbar-width: var(--scrollbar-width-mobile-none); 
        height: 12.375rem;
        padding: 0 0.5rem;

        .box {
            flex: var(--flex-mobile-box);
            width: var(--width-mobile-box);
            height: 12.375rem;
            border-radius: var(--border-radius-mobile);
            padding: 0.5rem;


            .box_img {
                width: var(--width-mobile-100);
                height: 10rem;
                border-radius: var(--border-radius-mobile);
                margin-bottom: var(--margin-bottom-mobile-box_img);



                .back_img {
                    width: var(--width-mobile-100);
                    height: var(--height-mobile-100);
                    border-radius: var(--border-radius-mobile);
                }

                .play {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    top: -60px;
                    left: 80px;
                    border-radius: 50%;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    background-color: #3BE477;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                
                    img {
                        width: 25px;
                        height: 25px;
                        margin: auto;
                    }
                }
            }

            .box_img:hover {

                .play {
                    opacity: 1;
                }
            }


            .span {
                font-weight: var(--font-weight-mobile-500);
                font-size: var(--font-size-mobile-0-8rem);
            }

        }

        .box:hover {
            background-color: var(--background-color-mobile);
        }
    
    }
    
}

.section-clip-1 {
    width: 100%;
    height: 100%;

    .box_music_first {
        width: var(--width-mobile-100);
        height: var(--height-mobile-100);
    
        .box_music {
            width: var(--width-mobile-100);
            height: var(--height-mobile-100);
            padding: var(--padding-mobile-5px-5px-0);
        }
    }
}





.henrique-e-juliano {
    background: url(../img/mobile/c-1.jpeg) no-repeat center;
    background-size: cover;
}

.mc-tuto {
    background: url(https://lyricstranslate.com/files/ab6761610000e5eb32f37851f7aa2c9088749be9.jpg) no-repeat center;
    background-size: cover;
}

.jorge-e-mateus {
    background: url(../img/mobile/c-3.jpeg) no-repeat center;
    background-size: cover;
}

.grupo-menos-e-mais {
    background: url(../img/mobile/c-4.jpeg) no-repeat center;
    background-size: cover;
}

.nattan {
    background: url(../img/mobile/c-5.jpeg) no-repeat center;
    background-size: cover;

}

.matheus-e-kauan {
    background: url(../img/mobile/c-6.jpeg) no-repeat center;
    background-size: cover;
}

.ze-neto-e-cristiano {
    background: url(../img/mobile/c-7.jpeg) no-repeat center;
    background-size: cover;
}

.oruam {
    background: url(https://th.bing.com/th/id/OIP.PWXJY-nGYgmERmEVkEA4dQHaI6?rs=1&pid=ImgDetMain) no-repeat center;
    background-size: cover;
}

.murilo-huff {
    background: url(../img/mobile/c-8.jpeg) no-repeat center;
    background-size: cover;
}

.hugo-e-guilherme {
    background: url(../img/mobile/c-9.jpeg) no-repeat center;
    background-size: cover;
}

.gusttavo-lima {
    background: url(../img/mobile/c-10.jpeg) no-repeat center;
    background-size: cover;
}

.leo-foguete {
    background: url(../img/mobile/c-11.jpeg) no-repeat center;
    background-size: cover;
}

.mc-luuky {
    background: url(https://th.bing.com/th/id/OIP.-unjFctvY0GphqJ3wuV_bQHaHa?rs=1&pid=ImgDetMain) no-repeat center;
    background-size: cover;
}

.nilo {
    background: url(../img/mobile/c-12.jpeg) no-repeat center;
    background-size: cover;
}

.luan-pereira {
    background: url(../img/mobile/c-13.jpeg) no-repeat center;
    background-size: cover;
}

.guilherme-e-benuto {
    background: url(../img/mobile/c-14.jpeg) no-repeat center;
    background-size: cover;
}

.marilia-mendonca {
    background: url(https://mixdeseries.com.br/wp-content/uploads/2023/09/cropped-Prime_Video_lancara_filme_biografico_de_Marilia_Mendonca._1.webp) no-repeat center;
    background-size: cover;
}

.gustavo-mioto {
    background: url(../img/mobile/c-15.jpeg) no-repeat center;
    background-size: cover;
}

.henry-freitas {
    background: url(../img/mobile/c-16.jpeg) no-repeat center;
    background-size: cover;
}

.wesley-safadao {
    background: url(../img/mobile/c-17.jpeg) no-repeat center;
    background-size: cover;
}


@media (min-width: 1025px) {
    .section-1 {
        user-select: none;
        outline: 2px solid red;
        height: 100%;
        padding: 0;

        .title {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 0 0 ;
        
            .h2 {
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 700;
                font-family: var(--font-spotify);
                
            }
    
            .h2:hover {
                text-decoration: underline;
            }

            span {
                font-size: 0.9rem;
                font-weight: 600;
                color: #BBBBBB;

            }

            span:hover {
                text-decoration: underline;
            }
            
        }

        

        .first_box {
            padding: 0;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            flex-wrap: wrap;

            .box {
                display: flex;

                width: 165px;

                .box_img {
                    width:100%;

                    .back_img {
                        width: 150px;
                        height: 150px;

                        border-radius: 50%;
                    }

                }


            }

        }
        
    }


    .sec_box {
        width: 850px;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #121212;
        user-select: none;
        overflow: hidden;

        .box-area-2 {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #121212;
    
            .section-11 {
                width: 99%;

                .h2 {
                    font-size: 2rem;
                    padding: 60px 20px 20px;
                }

                
        
                .first_box_box {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    scrollbar-width: auto;
                    flex-wrap: wrap;
                    padding: 10px;
        
                    .box {
                        width:200px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        border-radius: 5px;
        
                        .box_img {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 10rem;
                            border-radius: 0.25rem;
                            margin-bottom: 0.3125rem;
        
                            .back_img {
                                width: 180px;
                                height: 170px;
                                border-radius: 50%;
                                position: relative;


                            }

                            
                            
                            .play-1 {

                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                opacity: 0;
                                transition: opacity 1s ease-in-out;
                                background-color: #3BE477;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                top: 320px;
                                left: 580px;
                                cursor: pointer;
                        
                                


                                img {
                                    width: 25px;
                                    height: 25px;
                                    margin: auto;
                                }
                                
                            }

                        }

                        .ff {

                            .play {
    
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                opacity: 0;
                                transition: opacity 1s ease-in-out;
                                background-color: #3BE477;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                top: 320px;
                                left: 580px;
                                cursor: pointer;
                        
                                


                                img {
                                    width: 25px;
                                    height: 25px;
                                    margin: auto;
                                }
                            }
                        }

                        .ff1 {

                            .play-1 {
    
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                opacity: 0;
                                transition: opacity 1s ease-in-out;
                                background-color: #3BE477;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                top: 320px;
                                left: 780px;
                                cursor: pointer;
                        
                                


                                img {
                                    width: 25px;
                                    height: 25px;
                                    margin: auto;
                                }
                            }
                        }

                        .ff:hover, .ff1:hover{

                            .play, .play-1 {
                                
                                opacity: 1;
                            }


                        }
        
        
                    }
    
                    .box:hover {
                        background-color: var(--background-color-mobile);
                    }
                }
        
            }
    
        }
    
        .box-area-2::-webkit-scrollbar{
            width: 8px 
        }
          
          
        .box-area-2::-webkit-scrollbar-track {
            background: transparent; 
        }
          

    }

    .box-area-2::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
    }

    .sec_box:hover {

        & .box-area-2::-webkit-scrollbar-thumb {
            background: #5a5a5a; 
            
        } 
    }

}





