.section-3 {
    width: 100%;
    height: 17rem;

    .h2 {
        font-weight: var(--font-weight-mobile-600);
        font-size: var(--font-size-mobile-1-2rem);
        padding: 1rem 4rem 0.5rem 1rem;

    }

    .first_box {
        display: var(--display-mobile-flex);
        flex-direction: row;
        align-items: center;
        flex-wrap: var(--flex-wrap-mobile-nowrap);
        overflow-y: hidden;
        overflow-x: var(--overflow-x-mobile-auto);
        scrollbar-width: var(--scrollbar-width-mobile-none);
        height: 12.3rem; 
        padding: 0 0.5rem;
        
        .box {
            flex: var(--flex-mobile-box);
            width: var(--width-mobile-box);
            height: 12.3rem;
            border-radius: var(--border-radius-mobile);
            padding: 0.3125rem ;

            .box_img {
                width: var(--width-mobile-100);
                height: 9.2rem;
                border-radius: var(--border-radius-mobile);
                margin-bottom: var(--margin-bottom-mobile-box_img);

                .back_img {
                    width: var(--width-mobile-100);
                    height: var(--height-mobile-100);
                    border-radius: var(--border-radius-mobile);
                }

            }


            .span {
                font-weight: var(--font-weight-mobile-500);
                font-size: var(--font-size-mobile-0-8rem);
            }
        }

        .box:hover {
            background-color: var(--background-color-mobile);
        }

    }


    .bg_radio-1 {

        background: url(../img/mobile/radio-1.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-2 {
    
        background: url(../img/mobile/radio-2.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-3 {
    
        background: url(../img/mobile/radio-3.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-4 {
    
        background: url(../img/mobile/radio-4.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-5 {
    
        background: url(../img/mobile/radio-5.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-6 {
    
        background: url(../img/mobile/radio-6.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-7 {
    
        background: url(../img/mobile/radio-7.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-8 {
    
        background: url(../img/mobile/radio-8.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-9 {
    
        background: url(../img/mobile/radio-9.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-10 {
    
        background: url(../img/mobile/radio-10.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-11 {
    
        background: url(../img/mobile/radio-11.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-12 {
    
        background: url(../img/mobile/radio-12.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-13 {
    
        background: url(../img/mobile/radio-13.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-14 {
    
        background: url(../img/mobile/radio-14.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-15 {
    
        background: url(../img/mobile/radio-15.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-16 {
    
        background: url(../img/mobile/radio-16.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-17 {
    
        background: url(../img/mobile/radio-17.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-18 {
    
        background: url(../img/mobile/radio-18.jpeg) no-repeat center;
        background-size: cover;
    }
    
    .bg_radio-19 {
    
        background: url(../img/mobile/radio-19.jpeg) no-repeat center;
        background-size: cover;
    }
    
    
    .bg_radio-20 {
    
        background: url(../img/mobile/radio-20.jpeg) no-repeat center;
        background-size: cover;
    }
    
    

    
}

.section-clip-3 {
    width: 100%;
    height: 100%;

    .box_music_first {
        width: var(--width-mobile-100);
        height: var(--height-mobile-100);

        .box_music {
            width: var(--width-mobile-100);
            height: var(--height-mobile-100);
            padding: var(--padding-mobile-5px-5px-0);

            iframe {
                width: 100%;
                height: 700px;
                border: none;
                border-radius: 0;
            }
        }
    }
}


@media (min-width: 1025px)  {
 
    .section-3 {

        .title {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 0 0 ;
        
            .h2 {
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 700;
                font-family: var(--font-spotify);
                
                
            }
    
            .h2:hover {
                text-decoration: underline;
            }



            span {
                margin-top: 20px;

                p {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: #BBBBBB;
    
    
                }
            }

            span:hover {
                color: white;
                text-decoration: underline;
                
            }
            
        }

        .first_box {
            width: 100%;
            height: 220px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            position: relative;

            .box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 160px;
                height: 200px;

                .box_img {
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;


                    .back_img {
                        width: 150px;
                        height: 150px;
                    }

                }



                .b1, .b2, .b3, .b4, .b5 {
    
                    .btn-play {
                        width: 120px;
                        height: 120px;
                        position: absolute;

                        .play {
                            
                            width: 50px;
                            height: 50px;
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(30%, 30%);
                            border-radius: 50%;
                            opacity: 0;
                            transition: opacity 1s ease-in-out;
                            background-color: #3BE477;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            box-shadow: 0px 2px 5px #0000008b;
                        
                            img {
                                width: 25px;
                                height: 25px;
                                margin: auto;
                            }
                        }
                    }

                }

                .b1:hover, 
                .b2:hover, 
                .b3:hover, 
                .b4:hover, 
                .b5:hover {

                    .play {
                        opacity: 1;
                    }

                }


                .span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    font-weight: 500;
                    font-size: 0.8rem;
                    color: #BBBBBB;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
    
            }

        }

        #radio-6, #radio-7, 
        #radio-8, #radio-9, 
        #radio-10, #radio-11, 
        #radio-12, #radio-13, 
        #radio-14, #radio-15, 
        #radio-16, #radio-17, 
        #radio-18, #radio-19, 
        #radio-20 {
            display: none;
        }
    }

    .section-clip-3 {
        width: 100%;
        height: 100%;
    
        .box_music_first {
            width: 100%;
            height: 100%;
    
            .box_music {
                width: 100%;
                height: 100%;
    
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    /* this is area of styles page radio_pop.html */

    .main {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: #121212;

        .art-pop {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            scrollbar-width: auto;
    
            .section-3 {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                position: relative;

                justify-content: space-evenly;

                column-gap: 10px;
                row-gap: 20px;
                
                .title {
                    width: 100%;
    
                    .h2 {
    
                        cursor: pointer;
                        font-size: 1.8rem;
                        font-weight: 700;
                        font-family: var(--font-spotify);
                        padding: 50px 25px 30px;
                        text-decoration: none;
                        cursor: auto;
                        
                    }
    
                }

                .box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 195px;
                    height: 240px;
                    padding-top: 7px;
                    border-radius: 5px;
                    cursor: pointer;


                    .box_img {

                        width: 180px;
                        height: 220px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
    
                        .back_img {
                            width: 180px;
                            height: 180px;
                            border-radius: 5px;
                        }
    
                    }
    
                    .a1, .a2, .a3, .a4, .a5, 
                    .a6, .a7, .a8, .a9, .a10, 
                    .a11, .a12, .a13, .a14, .a15, 
                    .a16, .a17, .a18, .a19, .a20  {
    
                        .btn-play {
                            width: 120px;
                            height: 120px;
                            position: absolute;
                            cursor: pointer;

    
                            .play {
                                
                                width: 50px;
                                height: 50px;
                                position: relative;
                                top: 50%;
                                left: 50%;
                                transform: translate(40%, 40%);
                                border-radius: 50%;
                                opacity: 0;
                                transition: opacity 1s ease-in-out;
                                background-color: #3BE477;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                box-shadow: 0 5px 10px #0000008b;
                            
                                img {
                                    width: 25px;
                                    height: 25px;
                                    margin: auto;
                                }
                            }
                        }
    
                    }

                    .a1:hover, .a2:hover, 
                    .a3:hover, .a4:hover, 
                    .a5:hover, .a6:hover, 
                    .a7:hover, .a8:hover, 
                    .a9:hover, .a10:hover, 
                    .a11:hover, .a12:hover, 
                    .a13:hover, .a14:hover, 
                    .a15:hover, .a16:hover, 
                    .a17:hover, .a18:hover, 
                    .a19:hover, 
                    .a20:hover {
    
                        .play {
                            opacity: 1;
                        }
    
                    }

                    .leg {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-top: 5px;
                        padding-left: 10px;
                        
                        .span {
                            width: 100%;
                            font-size: 0.8rem;
                            font-weight: 500;
                            color: #BBBBBB;
                           
                            margin-top: 5px;
                            cursor: pointer;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;

                        }
   
                    }
    
                }

                .box:hover {
                    background-color: var(--background-color-mobile);
                }
    
            }
    
    
    
        }

        #radio-6, #radio-7, 
        #radio-8, #radio-9, 
        #radio-10, #radio-11, 
        #radio-12, #radio-13, 
        #radio-14, #radio-15, 
        #radio-16, #radio-17, 
        #radio-18, #radio-19, 
        #radio-20 {
            display: flex;
        }

        .art-pop::-webkit-scrollbar{
            width: 15px 
        }
          
          
        .art-pop::-webkit-scrollbar-track {
            background: transparent; 
        }
    
    
        .art-pop::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
        }

    }

    .main:hover {

        .art-pop::-webkit-scrollbar-thumb {
            background: #5a5a5a; 
            
        }
        

    }

}