.singles_albuns {
    width: 100%;
    height: 100%;

    .single{
        width: 100%;
        height: 300px;
        padding: 20px;
        overflow: hidden;

        h2 {
            font-family: var(--font-spotify);
            font-weight: 600;
            font-size: 1.2em;
            padding-bottom: 20px;
        }

        .box_single {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: none; 
            height: 90%;
            

            .box_albuns {
                flex: 0 0 auto;
                width: 150px;
                height: 85%;
                border-radius: 5px;
                padding: 5px 5px 45px;

                .img_albuns{

                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    margin-bottom: 5px;

                    .backg {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        
                    }

                    .bg_albuns-1 {
                        background: url(../img/mobile/s-1.png) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-2 {
                        background: url(../img/mobile/s-2.png) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-3 {
                        background: url(../img/mobile/s-3.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-4 {
                        background: url(../img/mobile/s-4.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-5 {
                        background: url(../img/mobile/s-5.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-6 {
                        background: url(../img/mobile/s-6.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-7 {
                        background: url(../img/mobile/s-7.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-8 {
                        background: url(../img/mobile/s-8.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-9 {
                        background: url(../img/mobile/s-9.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-10 {
                        background: url(../img/mobile/s-10.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-11 {
                        background: url(../img/mobile/s-11.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-12 {
                        background: url(../img/mobile/s-12.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-13 {
                        background: url(../img/mobile/s-13.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-14 {
                        background: url(../img/mobile/s-14.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-15 {
                        background: url(../img/mobile/s-15.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-16 {
                        background: url(../img/mobile/s-16.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-17 {
                        background: url(../img/mobile/s-17.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-18 {
                        background: url(../img/mobile/s-18.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .bg_albuns-19 {
                        background: url(../img/mobile/s-19.jpeg) no-repeat center;
                        background-size: cover;
                    }

                    .play {
                        width: 50px;
                        height: 50px;
                        position: relative;
                        top: -60px;
                        left: 80px;
                        border-radius: 50%;
                        opacity: 0;
                        transition: opacity 1s ease-in-out;
                        background-color: #3BE477;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
        
                        img {
                            width: 25px;
                            height: 25px;
                            margin: auto;
                        }
                    }

                    
                }

                span {
                    font-family: var(--font-spotify);
                    font-weight: 500;
                    font-size: .8em;
                }
            }

            .box_albuns:hover {
                background-color: #383535;

                .play {
                    opacity: 1;
                }
            }

        }


    }
}